html, body {
  background: #222;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.game-container {
  width: 100%;
  height: 100%;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arena {
  background: #ddd;
  position: relative;
  overflow: hidden;
}

.player {
  background: pink;
  position: absolute;
  border: 1px solid red;
  border-radius: 100%;
  box-sizing: border-box;
}

.bullet {
  background: yellow;
  position: absolute;
  border: 1px solid orange;
  border-radius: 100%;
  box-sizing: border-box;
}

.spawn-container {
  position: absolute;
}

.spawn {
  background: #666;
  position: absolute;
  border: 2px solid black;
  border-radius: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.health-container {
  border: 1px solid #330;
  background: #2f2;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  position: relative;
}

.health-bg,
.health-dmg {
  transform: rotate(-90deg);
  transform-origin: center center;
  position: absolute;
  r: 25%;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke-width: 50%;
}

.health-bg {
  stroke: #3b3;
  stroke-dasharray: 100% 0;
}

.health-dmg {
  stroke: #b33;
}
