html, body {
  background: #222;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.game-container {
  width: 100%;
  height: 100%;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arena {
  background: #ddd;
  position: relative;
  overflow: hidden;
}

.player {
  background: pink;
  position: absolute;
  border: 1px solid red;
  border-radius: 100%;
  box-sizing: border-box;
}

.bullet {
  background: yellow;
  position: absolute;
  border: 1px solid orange;
  border-radius: 100%;
  box-sizing: border-box;
}

.spawn {
  background: #666;
  position: absolute;
  border: 2px solid black;
  border-radius: 100%;
  box-sizing: border-box;
}
